In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('iris.csv')
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
data['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [4]:
data['Species'].replace({'Iris-setosa':0, 'Iris-versicolor':1, 'Iris-virginica':2},inplace=True)

In [6]:
data.head(2)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0

In [11]:
X=data.iloc[:, 1:-1].values

In [12]:
y=data.iloc[:,-1].values

In [13]:
y.shape

(150,)

In [14]:
# Cross validation

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.2)

In [15]:
from sklearn.tree import DecisionTreeClassifier
classifier=DecisionTreeClassifier()

In [16]:
classifier.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [18]:
y_pred=classifier.predict(X_test)

In [19]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.9666666666666667

In [22]:
classifier.predict(np.array([1.5, 1.6, 2.1,2.6]).reshape(1,4))

array([2], dtype=int64)

In [27]:
def output(a,b,c,d):
    
    x=classifier.predict(np.array([a,b,c,d]).reshape(1,4))[0]
    
    if x==0:
        return "Setosa"
    elif x==1:
        return "Versicolor"
    else:
        return "Virginica"

In [28]:
output(1.6,4.1, 2.9, 5.1)

'Versicolor'